<div class='subscribe'>
  <div class='subscribe-info'>
    <div>
      <span>
        📯 Powiadomienia
      </span>
    <p>Subskrybuj powiadomienia o nowych wpisach/komiksach na blogu</p>
    </div>
    <button id='subscribe-button' class='cactus-button'>Zapisz!</button>
  </div>
  <div class='subscribe-modal'>
    <img src='/assets/img/subscribe.jpg' alt='Space minifigure hold a cup' class='subscribe-img'>
    <div class='ml-embedded' data-form='Bs3IUX'></div>
  </div>
</div>

<script>
  document.getElementById('subscribe-button').addEventListener('click', () => {
    document.querySelector('.subscribe-info').style.display = 'none';
    document.querySelector('.subscribe-modal').style.display = 'flex';
    fetch(`https://nullitics.com/n.gif?u={{ site.nullitics_url }}:otworz-formularz-newsletter`)
  });
</script>
