---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */
.post-featured-image {
    height: 9.1rem;
    width: 13rem;
    margin-right: 1rem;
    border-radius: 10% 0 0 10%;
    object-fit: cover;
    object-position: left;
}

.post-content-home {
    display: flex;
}

%sidebar-links {
    color: var(--text-muted-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#sidebar ul>li:last-child::after {
    background: var(--sidebar-active-color);
}

.text-muted {
    color: var(--text-muted-color)!important;
}

#sidebar .site-title a {
    color: #D1D1D1;
}
